
Menu.xcodeproj/project.xcworkspace/xcuserdata/artak.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

Menu.xcodeproj/project.xcworkspace/xcuserdata/artak.xcuserdatad/UserInterfaceState.xcuserstate
